<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
    class="text-left fixed-bottom"
    style="background-color: #293237"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="custom0 mb-4 font-weight-bold">Games</h6>
            <p>
              <a class="custom1">Marvel's Spider-man</a>
            </p>
            <p>
              <a class="custom1">Marvel's Spider-man 2</a>
            </p>
            <p>
              <a class="custom1">Marvel's Wolverine</a>
            </p>
            <p>
              <a class="custom1">Ratchet & Clank: Rift Apart</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="custom0 mb-4 font-weight-bold">Careers</h6>
            <p>
              <a class="custom1">Working at Insomniac</a>
            </p>
            <p>
              <a class="custom1">Job Openings</a>
            </p>
            <p>
              <a class="custom1">Moonlighting</a>
            </p>
            <p>
              <a class="custom1">Baker's Dozen</a>
            </p>
            <p>
              <a class="custom1">Career Inquiries</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="custom0 mb-4 font-weight-bold">Community</h6>
            <p>
              <a class="custom1">Press & Media</a>
            </p>
            <p>
              <a class="custom1">Discord</a>
            </p>
            <p>
              <a class="custom1">Twitter</a>
            </p>
            <p>
              <a class="custom1">Facebook</a>
            </p>
            <p>
              <a class="custom1">Instagram</a>
            </p>
            <p>
              <a class="custom1">Youtube</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="custom0 mb-4 font-weight-bold">Contact Us</h6>
            <p>
              <a class="custom1">Game Support</a>
            </p>
            <p>
              <a class="custom1">Terms Of Use</a>
            </p>
            <p>
              <a class="custom1">Privacy Policy</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
