<!-- <div class="col m6 s12">
  <a
    href="https://insomniac.games/game/marvels-spider-man-remastered-pc/"
    class="card-wrapper"
  >
    <div class="card">
      <div class="card-image">
        <img src="{{ img }}" />
      </div>
      <div class="card-content ft-eh" style="height: 190px">
        <span class="card-title ct-eh" style="height: 64px">{{ name }}</span>
        <p class="p-eh" style="height: 24px">{{ message }}</p>
        <button
          href="https://insomniac.games/game/marvels-spider-man-remastered-pc/"
        >
          <span class="hide-on-med-only">Learn </span>More
        </button>
      </div>
    </div>
  </a>
</div> -->
<div class="col-m6-12">
  <div class="card">
    <img class="card-img-top" src="{{ img }}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ message }}</p>
      <button
        href="https://insomniac.games/game/marvels-spider-man-remastered-pc/"
      >
        <span class="hide-on-med-only">Learn </span>More
      </button>
    </div>
  </div>
</div>
