<br />
<br />
<br />
<br />
<br />

<p *ngIf="my_info == undefined">Failed fetching user info</p>
<div *ngIf="my_info != undefined" style="margin-left: 120px;">
  <div class="flex-row">
    Name: {{ my_info.first_name }} {{ my_info.last_name }}
  </div>
  <div class="flex-row">School: {{ my_info.school }}</div>
  <div class="flex-row">
    Course Details: {{ my_info.course }} {{ my_info.lab }}
  </div>
  <div class="flex-row">MIX ID: {{ my_info.mix_id }}</div>
  <div class="flex-row">GITHUB URL: {{ my_info.github_url }}</div>
</div>
